* {
    margin: 0;
    padding: 0;
  }
  #nav2Container {
    background-color: #212121;
    height: 70px;
    /* display: flex; */
  }
  
  #nav2logo {
    width: 80px;
    padding: 10px 50px;
  }
  #nav2icon {
    color: white;
    float: right;
    padding: 20px 5%;
  }
  #nav2pop {
    margin-top: -10px;
    /* float: right; */
    margin-left: 85.5%;
    position: absolute;
    background-color: white;
    padding: 0px 0px 0px 10px;
    color: black;
    z-index: 2;
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  #nav2imog {
    padding: 0px 30px;
  }
  
  #nav2imog1 {
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 2px;
    border-radius: 50%;
  }
  
  #nav2arrow {
    margin-top: -8px;
    background-color: white;
    content: "   ";
    position: absolute;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    z-index: 2;
    border: none;
    margin-left: 110px;
    transform: rotate(225deg);
  }
  
  #nav2loginList li {
    list-style: none;
    padding: 15px;
  }
  #nav2popIcon {
    margin-right: 15px;
  }
  
  #nav2icon:hover + #nav2pop,
  #nav2pop:hover {
    display: block;
  }