#bodyotp {
    display: flex;
    margin: auto;  
    /* align-items: center; */
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#webBox {
  display: flex;
  flex-direction: column;
}
#parentOtp {
 
  display: flex;
  flex-direction: column;
  /* border: 2px dashed blue; */
  /* width: 25%; */
  width: 400px;
  height: 400px;
  border-radius: 15px;
  /* margin-left: 35%; */
  margin-top: 30px;
  /* padding-left: 20%; */
  /* justify-content: center; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}

#child1Otp {
 
  height: 15%;
  text-align: center;
  padding-bottom: 15px;
 
}
#child2Otp {
 
  height: 90%;
  margin: auto;
  padding-top: 20%;
 
  display: flex;
  gap: 10px;
  
}
#child3Otp {
 
  height: 15%;
  text-align: center;
  padding-bottom: 15px;
}
#child2Otp >input{
      
  width: 40px;
  height: 40px;
  color: black;
  font-weight: bolder;
  text-align: center;
  border-color: black;
  justify-content: space-evenly;
}
#child2Otp >input:focus{
      
     background-color: coral;
    }



#btnOtp {
width: 90%;
font-size: 20px;
padding: 10px;
background-color: red;
color: white;
border-radius: 10px;
border: #007bff;
}


